<div class="post-title">
  <h1 *ngIf="!editing" class="post-title__title">{{post.title}}</h1>
  <button *ngIf="!editing && edit" type="button" class="post-title__btn-edit" (click)="onClickEditing()">
    Edit
  </button>
  <form *ngIf="editing" (ngSubmit)="changeTitle(titleForm)" class="post-title__form" #titleForm="ngForm">
    <input type="text" required name="postTitle" #title="ngModel" [(ngModel)]="post.title" />
    <button type="submit">Submit</button>
    <button *ngIf="errors.length === 0" type="button" (click)="onClickCancel()">
      Cancel
    </button>
    <div *ngIf="errors.length > 0" class="post-title__errors">
      <app-error-msg [msg]="error.msg" *ngFor="let error of errors" />
    </div>
  </form>
</div>