@import "../../app.component.less";

@padding: 5rem;

.author {
  width: 100%;
  h1 {
    font-size: xx-large;
    margin: 0;
  }
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    width: 100%;
  }
}
