<form
  *ngIf="!loginState.success"
  class="login"
  (ngSubmit)="onSubmit(loginForm)"
  #loginForm="ngForm"
>
  <h1 class="login__title">Login</h1>

  <label htmlFor="username">Username*</label>
  <input
    type="text"
    id="username"
    class="login__username"
    [(ngModel)]="login.name"
    required
    #username="ngModel"
    name="name"
  />
  <label htmlFor="password">Password*</label>
  <input
    type="text"
    id="password"
    class="login__password"
    [(ngModel)]="login.password"
    required
    #password="ngModel"
    name="password"
  />
  <button type="submit" class="login__button">Login</button>
  <app-error-msg *ngIf="loginState.msg" [msg]="loginState.msg"></app-error-msg>
</form>

<div *ngIf="loginState.success && !showNewPostForm" class="logout">
  <h1 class="logout__title">Welcome {{ loginState.user.username }}!</h1>
  <app-posts
    [posts]="userPosts"
    (deletePost)="onDeletePost($event)"
    [edit]="true"
  ></app-posts>

  <button (click)="onClickNewPost()" class="logout__button--link">
    New Post
  </button>

  <p>You are currently logged in.</p>
  <button type="button" (click)="onLogout()" class="logout__button">
    Logout
  </button>
</div>

<app-new-post
  *ngIf="showNewPostForm"
  (createPost)="onCreatePost($event)"
></app-new-post>
