<form *ngIf="!_loginState.state.success" class="login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <h1 class="login__title">Login</h1>

  <label htmlFor="username">Username*</label>
  <input type="text" id="username" class="login__username" [(ngModel)]="login.name" required #username="ngModel" name="name" />
  <label htmlFor="password">Password*</label>
  <input type="text" id="password" class="login__password" [(ngModel)]="login.password" required #password="ngModel" name="password" />
  <button type="submit" class="login__button">
    Login
  </button>
  <app-error-msg *ngIf="_loginState.state.msg" [msg]="_loginState.state.msg"></app-error-msg>
</form>
<div *ngIf="_loginState.state.success" class="logout">
  <h1 class="logout__title">Welcome {{_loginState.state.user.username}}!</h1>
  <app-posts [posts]="userPosts()" [edit]="true" [showModal]="onClickShowModal"></app-posts>

  <a to="/new-post" class="logout__button--link">
    New Post
  </a>

  <p>You are currently logged in.</p>
  <button type="button" (click)="logout()" class="logout__button">
    Logout
  </button>
</div>

<app-modal [show]="showModal" [card]="{
  variant: danger, 
  headerTextLeft: 'Danger!', 
  headerTextRight: '', 
  footerTextLeft: 'Permanent data loss', 
  footerTextRight: ''
}">
  <div class="modal-body">
    <p *ngIf="postsService.errors.length === 0">You are going to delete the post permanently. Are you sure?</p>
    <app-error-msg *ngIf="postsService.errors.length !== 0" [msg]="postsService.errors[0].msg" />
    <div class="modal-body__button-container">
      <button type="button" (click)="onClickDelete()" class="modal-body__button--delete">
        Delete
      </button>
      <button type="button" (click)="onClickCancel()" class="modal-body__button">
        Cancel
      </button>
    </div>
  </div>
</app-modal>