<form *ngIf="!_loginState.state.success" class="login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <h1 class="login__title">Login</h1>

  <label htmlFor="username">Username*</label>
  <input type="text" id="username" class="login__username" [(ngModel)]="login.name" required #username="ngModel" name="name" />
  <label htmlFor="password">Password*</label>
  <input type="text" id="password" class="login__password" [(ngModel)]="login.password" required #password="ngModel" name="password" />
  <button type="submit" class="login__button">
    Login
  </button>
  <app-error-msg *ngIf="_loginState.state.msg" [msg]="_loginState.state.msg"></app-error-msg>
</form>
<div *ngIf="_loginState.state.success" class="logout">
  <h1 class="logout__title">Welcome {{_loginState.state.user.username}}!</h1>
  <app-posts [posts]="userPosts()" [edit]="true"></app-posts>

  <a href="/new-post" class="logout__button--link">
    New Post
  </a>

  <p>You are currently logged in.</p>
  <button type="button" (click)="onLogout()" class="logout__button">
    Logout
  </button>
</div>