<nav class="nav">
  <ul>
    <li class="nav__logo">
      <a routerLink="/">{{logo}}</a>
    </li>
    <li class="nav__item">
      <a routerLink="/about">About</a>
    </li>
    <li class="nav__item">
      <a routerLink="/">Home</a>
    </li>
    <li class="nav__item">
      <a routerLink="/post">Post</a>
    </li>
    <li class="nav__item">
      <a routerLink="/login">Login</a>
    </li>
    <li class="nav__item">
      <a routerLink="/signup">
        {{loginSuccess ? "User" : "Signup"}}
      </a>
    </li>
  </ul>
</nav>