<div class="block">

  <p *ngIf="!showEditing && block.type === 'paragraph'" class="block__p" [innerHTML]="textWithLinks()"></p>
  <h2 *ngIf="!showEditing && block.type === 'subtitle'" class="block__h2">{{block.text}}</h2>
  <div *ngIf="!showEditing && block.type === 'code'" class="block__code">
    <textarea highlight-js lang={{block.language}}>
    {{block.text}}
    </textarea>
  </div>

  <div *ngIf="edit && !showEditing" class="block__edit-btns">
    <button type="button" class="block__button" (click)="setEditing(true)">
      Edit
    </button>
    <button *ngIf="block._id" type="button" class="block__button--delete" (click)="remove(block)">
      Delete
    </button>
  </div>

  <app-edit-block *ngIf="showEditing" block={block} (submit)="submit(block)" (cancel)="setEditing(false)" />

</div>