<div class="posts-view">
  <app-card [card]="getPostCard(post)" *ngFor="let post of posts">
    <div class="card-body__body">
      <div class="card-body__title">
        <h2>
          {{ post.title }}
        </h2>
      </div>
      <div class="card-body__button-container">
        <button type="button" class="card-body__button" (click)="onClickView(post)">
          View
        </button>
        <button *ngIf="!edit && user && user._id" class="card-body__button" (click)="onClickLike(post)">
          {{isPostLiked(post) ? "Unlike" : "Like"}}
        </button>
        <button *ngIf="edit" class="card-body__button--delete" (click)="onClickDelete(post)">
          Delete
        </button>
      </div>
    </div>
  </app-card>
</div>