@import "../../app.component.less";
@import "../nav/nav.component.less";

.post {
  .app-margin();
  padding-top: 0;
  .flex-row(@gap);
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  article {
    max-width: 100%;
  }
}
